*{
 list-style: none;
 margin: 0;
 padding: 0;
 box-sizing: border-box;   
}

.width-img{
    width: 70px;
}

li{
    float: left;
}

.bg-header{
    background-color: #283038;
}

.bg-main{
    background-color: #1E2D3B;
}

.bg-cards{
    background-color: #2E3A46;
}

